<!DOCTYPE html>
<html Lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TourCheck</title>
    </head>
    <header>
        <button onclick="window.location.href='/ponto_cadastro'">Cadastrar Ponto Turístico</button>
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/cadastro'">Registrar</button>
    </header>
    <body>
        <h1>Bem-vindo ao TourCheck!</h1>
        <p>Descubra os melhores pontos turísticos!</p>
    </body>
</html>